<h1>🛒 Votre panier</h1>

<% if @cart.cart_items.empty? %>
  <p>Votre panier est vide.</p>
<% else %>
  <table class="table">
    <thead>
      <tr>
        <th>Produit</th>
        <th>Quantité</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @cart.cart_items.each do |cart_item| %>
        <% product = cart_item.product %>
        <tr>
          <td><%= product.name %></td>
          <td><%= cart_item.quantity %></td>
          <td>
            <%= button_to "➖", remove_item_cart_path(cart_item.id), method: :delete, class: "btn btn-danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to "Passer la commande", orders_path, method: :post, class: "btn btn-success" %>
<% end %>
