<h1>Nos Produits</h1>

<div class="products-container">
  <% @products.each do |product| %>
    <div class="product-card">
      <%= image_tag product.image if product.image.attached? %>
      <div class="product-info">
        <h2><%= product.name %></h2>
        <p>Prix : <%= number_to_currency(product.price, unit: "€") %></p>
        <%= link_to "Voir le produit", product_path(product), class: "btn-show" %>

      </div>
    </div>
  <% end %>
</div>
